body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
}
.nav {
    display: flex;
    flex-direction: row;
  
}
a {
    text-decoration: none;
    border-radius: 15px;
    padding: 40px;
    text-align: center;
    margin: 0 auto;


}
ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 0 auto;
    margin-bottom: 10px;

}
li {
    text-decoration: none;
    list-style: none;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0 , 0, 0.1);
    text-align: center;
}
#product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
     gap: 15px;
    
}
.container {
   display: flex;
   flex-direction: column;
   box-shadow: 0 10px 25px rgba(0, 0 , 0, 0.2);
    
h1 {
    text-align: center;
       background-color: #f5f6f8;
       border-radius: 10px;
       padding: 10px;
          font-family: 'Courier New', Courier, monospace;
}
p {
    text-align: center;
    background-color: #f5f6f8;
     border-radius: 10px;
     padding: 10px;
        font-family: 'Courier New', Courier, monospace;
  
}
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: red;
    font-size: 1rem;
}
}
.no-orders {
    text-align: center;
    font-size: 3rem;
    margin: 0 auto;
}
@media (max-width: 768px) {
    #product-container {
        grid-template-columns: 1fr;

    }
    .container {
        width:100%;
        max-width: 400px;
        text-align: center;
        margin: 0 auto;
        padding: 16px;
    }
}
@media (max-width: 768px) {
    h1 {
        font-size: 1.50rem;
        margin-top: 40px;
    }
    .container button, .container a {
        width: 100%;
        border-radius: 8px;
    }
    .conatiner li {
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
    }
    
}