body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h1 {
    font-size: 2rem;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
}
ul {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    padding: 0;
    margin: 15px auto;
    list-style: none;
    width: fit-content;
    gap: 5px;
    li {
        text-decoration: none;
        list-style: none;
        margin-right: 20px;
        margin-top: 15px;
   box-shadow: 0 10px 25px rgba(0, 0 , 0, 0.1);
   padding: 15px;
   border-radius: 40px;
   cursor: pointer;
   text-align: center;
   white-space: nowrap;
    }
    li a {
        text-decoration: none;
    }
}
#product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
     gap: 15px;
    
}
.container {
   display: flex;
   flex-direction: column;
   box-shadow: 0 10px 25px rgba(0, 0 , 0, 0.1);
    
h1 {
    text-align: center;
       background-color: #f5f6f8;
       border-radius: 10px;
       padding: 10px;
          font-family: 'Courier New', Courier, monospace;
}
p {
    text-align: center;
    background-color: #f5f6f8;
     border-radius: 10px;
     padding: 10px;
        font-family: 'Courier New', Courier, monospace;
  
}
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: red;
    font-size: 1rem;
}
}
.no-orders {
    text-align: center;
    font-size: 3rem;
    margin: 0 auto;
}
@media (max-width: 768px) {
    #product-container {
        grid-template-columns: 1fr;

    }
    .conatiner {
        width: 90%;
        max-width: 380px;
        padding: 16px;
    }
}
@media (max-width: 768px) {
    h1 {
        font-size: 1.1rem;
    }
    .container button, .container a {
        width: 100%;
        border-radius: 8px;
    }
    .conatiner li {
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
    }
    
}